# Quick Introduction to Python  
**CS 1656 -- Introduction to Data Science**   
**[Alexandros Labrinidis](http://labrinidis.cs.pitt.edu)**     
**http://cs1656.org**

In [1]:
# ADAPTED FROM: Scipy Lecture Notes
# http://www.scipy-lectures.org/index.html

# Section 1.2 -- The Python Language
# http://www.scipy-lectures.org/intro/language/python_language.html

print("Hello, world!")

Hello, world!

In [2]:
a = 3
b = 2*a
print(type(b)) 
b

<class 'int'>

6

In [3]:
print(b)

a*b

6

18

In [4]:
b = 'hello'
type(b)

str

In [5]:
b + b

'hellohello'

In [6]:
5*b

'hellohellohellohellohello'

**Note**: above was example of dynamically typed variables

In [7]:
1 + 1

2

In [8]:
a = 4
type(a)

int

In [9]:
c = 2.1
type(c)

float

In [10]:
3 > 4

test = (3 > 4)
test

False

In [11]:
type(test)

bool

In [12]:
# integer division - python 2
3 / 2   
# = 1

1.5

In [13]:
# integer division - python 3
3 / 2
# = 1.5

1.5

In [14]:
3 / 2.

1.5

In [15]:
a = 3
b = 2
a / b # In Python 2

1.5

In [16]:
a / float(b)

1.5

In [17]:
from __future__ import division  
3 / 2

1.5

## Lists

In [18]:
####################### LISTS ####################### 

l = ['red', 'white', 'blue', 'gold', 'black', 'pink']
type(l)

list

In [19]:
print (l)
print (l[2])
print (l[-1])
print (l[-2])
print (l[15]) # causes runtime error

['red', 'white', 'blue', 'gold', 'black', 'pink']
blue
pink
black

IndexError: list index out of range

In [20]:
# l[start:stop] contains the elements with index=i, such that start<= i < stop 
# (i.e., i ranges from start to stop-1)
print (l[0:3])
print (l[:3])

print (l[2:4])
print (l[2:])

['red', 'white', 'blue']
['red', 'white', 'blue']
['blue', 'gold']
['blue', 'gold', 'black', 'pink']

In [21]:
# lists are mutable
l[3] = 'yellow'
print (l)

l[2:4] = ['light blue', 'gold']
print (l)

['red', 'white', 'blue', 'yellow', 'black', 'pink']
['red', 'white', 'light blue', 'gold', 'black', 'pink']

In [22]:
l[1] = '42'
print (l)

l.append('green')
print (l)

['red', '42', 'light blue', 'gold', 'black', 'pink']
['red', '42', 'light blue', 'gold', 'black', 'pink', 'green']

In [23]:
print(l.pop())
print (l)

green
['red', '42', 'light blue', 'gold', 'black', 'pink']

In [24]:
l.extend(['one', 'two'])
print (l)

['red', '42', 'light blue', 'gold', 'black', 'pink', 'one', 'two']

In [25]:
l = l[:-2]
print (l)

['red', '42', 'light blue', 'gold', 'black', 'pink']

In [26]:
m = ['alice', 'bob', 'cathy', 'dre']
print (m)

n = l + m
print (n)

['alice', 'bob', 'cathy', 'dre']
['red', '42', 'light blue', 'gold', 'black', 'pink', 'alice', 'bob', 'cathy', 'dre']

## Strings

In [27]:
####################### STRINGS ####################### 
s = 'Hello, how are you?'
s = "Hi, what's up"
# tripling the quotes allows the string to span more than one line
s = '''Hello,                
how are you''' 
print (s)

astr = 'abcdefghij.def'
print (astr)
print (astr[3:6])
print (astr[3:])

Hello,
how are you
abcdefghij.def
def
defghij.def

In [28]:
# strings are not immutable
astr[2] = 'z' ## uncomment to see runtime error 
print (astr)

TypeError: 'str' object does not support item assignment

In [29]:
print (astr)
print (astr.replace('d', '#', 1))
print (astr)

abcdefghij.def
abc#efghij.def
abcdefghij.def

In [30]:
astr.replace('d', '#')

'abc#efghij.#ef'

In [31]:
fs = 'An integer: %i; a float: %f; another string: %s' % (42, 0.01, 'alice')
fs

'An integer: 42; a float: 0.010000; another string: alice'

In [32]:
i = 102
filename = 'processing_of_dataset_%d.txt' % i
filename

'processing_of_dataset_102.txt'

## Dictionaries

In [33]:
####################### DICTIONARIES ####################### 
courses = {'cs1555':'intro to database systems', 
    'cs1520':'web programming', 
    'cs1501':'algorithm implementation'}

courses['cs1656'] = 'intro to data science'

print (courses)

{'cs1555': 'intro to database systems', 'cs1520': 'web programming', 'cs1501': 'algorithm implementation', 'cs1656': 'intro to data science'}

In [34]:
courses['cs1555']

'intro to database systems'

In [35]:
print (courses.keys())

print (courses.values())

dict_keys(['cs1555', 'cs1520', 'cs1501', 'cs1656'])
dict_values(['intro to database systems', 'web programming', 'algorithm implementation', 'intro to data science'])

In [36]:
'cs1656' in courses

True

In [37]:
'cs1655' in courses

False

In [38]:
mixed = {'a':1, 'b':2, 3:'hello'}
mixed

{'a': 1, 'b': 2, 3: 'hello'}

In [39]:
tweet = {
    'user' : 'alex',
    'text' : 'cs1656 today features an intro to python',
    'retweet_count' : 3,
    'hashtags' : ["#datascience", "#python", "#pitt"]
}
print (tweet)
print (tweet['text'])
print (tweet['hashtags'])
print (tweet['hashtags'][1])

{'user': 'alex', 'text': 'cs1656 today features an intro to python', 'retweet_count': 3, 'hashtags': ['#datascience', '#python', '#pitt']}
cs1656 today features an intro to python
['#datascience', '#python', '#pitt']
#python

## Tuples

In [40]:
####################### TUPLES (IMMUTABLE LISTS) ####################### 
t = 12345, 54321, 'hello', "there!"
print (t[0])
print (t)
u = (0, 2)
print (u)

12345
(12345, 54321, 'hello', 'there!')
(0, 2)

In [41]:
u[1] = 6  ## uncomment to see runtime error
print (u)

TypeError: 'tuple' object does not support item assignment

In [42]:
my_list = [1,2]
my_tuple = (3, 4)
also_tup = 5, 6
my_list[1] = 12
try:
    my_tuple[1] = 13
except TypeError:
    print ("cannot modify a tuple")

cannot modify a tuple

## Sets

In [43]:
####################### SETS (UNORDERED, UNIQUE ITEMS) ####################### 
s = set(('a', 'b', 'c', 'a'))
print (s)    
print (s.difference(('a', 'b')))

{'b', 'c', 'a'}
{'c'}

## Assignments

In [44]:
####################### ASSIGNMENT ####################### 
a = 'banana'
b = 'banana'
print(a is b)

True

In [45]:
c = [1, 2, 3]
print (c)
d = c
print (d)

[1, 2, 3]
[1, 2, 3]

In [46]:
print (c is d)
d[0] = 'z'
print (d)
print (c)

True
['z', 2, 3]
['z', 2, 3]

In [47]:
d = ['z',2,3]
print (c is d)
print (c == d)

False
True

In [48]:
d = ['a', 'b', 'c', 'd']
print (d)
print (c is d)

['a', 'b', 'c', 'd']
False

In [49]:
d[:] = [1, 2, 3, 4, 5]
print(c)
print(d)
print (id(c))
print (id(d))

['z', 2, 3]
[1, 2, 3, 4, 5]
4473436296
4472630728

In [50]:
d = c
d[:] = [1, 2, 3, 4, 5]
print(c)
print(d)
print (id(c))
print (id(d))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
4473436296
4473436296

## Control Flow

In [51]:
####################### CONTROL FLOW ####################### 
if 2**2 == 4:
    print ("TADA!")

a = 10
if a==1:
    print (1)
elif a==2:
    print (2)
else:
    print ('more than 2')

print (range(6))

TADA!
more than 2
range(0, 6)

In [52]:
for idx in range(4):
    print (idx)
    
for word in ['alice', 'bob', 'cathy', 'dolores', 'emily']:
    print (word)

for word in ('alice', 'bob', 'cathy', 'dolores', 'emily'):
    print (word)

0
1
2
3
alice
bob
cathy
dolores
emily
alice
bob
cathy
dolores
emily

In [53]:
# The following evaluate to False:
# any number equal to zero
# an empty container 	
# False, None
# Everything else evaluates to True
print(1 == 1) # True
print(2 is 2) # True
print([2] is [2]) # False
print(3 in [1, 2, 3]) # True
print(4 in [1, 2, 3]) # False

vowels = 'aeiouy'
for i in 'powerful':
    if i in vowels:
        print(i)

True
True
False
True
False
o
e
u

In [54]:
ar = {'a': 1, 'b':2.2, 'c':'third'}

for key, val in ar.items():
    print('Key: %s has value: %s' % (key, val))

for key, val in sorted(ar.items()):
    print('Key: %s has value: %s' % (key, val))

print ([i**2 for i in range(5)])
print ([x for x in range(25) if x%2 == 0])

Key: a has value: 1
Key: b has value: 2.2
Key: c has value: third
Key: a has value: 1
Key: b has value: 2.2
Key: c has value: third
[0, 1, 4, 9, 16]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

## Five Word-Counting Examples

In [55]:
####################### FIVE WORD COUNTING EXAMPLES ####################### 
doc_string = """Alma Mater, wise and glorious,
Child of Light and Bride of Truth,
Over fate and foe victorious,
Dowered with eternal youth,
Crowned with love of son and daughter,
Thou shalt conquer as of yore,
Dear old Pittsburgh, Alma Mater,
God preserve Thee evermore!"""

doc_words = doc_string.split()
print (doc_words)

['Alma', 'Mater,', 'wise', 'and', 'glorious,', 'Child', 'of', 'Light', 'and', 'Bride', 'of', 'Truth,', 'Over', 'fate', 'and', 'foe', 'victorious,', 'Dowered', 'with', 'eternal', 'youth,', 'Crowned', 'with', 'love', 'of', 'son', 'and', 'daughter,', 'Thou', 'shalt', 'conquer', 'as', 'of', 'yore,', 'Dear', 'old', 'Pittsburgh,', 'Alma', 'Mater,', 'God', 'preserve', 'Thee', 'evermore!']

In [56]:
# Info from: https://docs.python.org/2/library/pprint.html
import pprint
pp = pprint.PrettyPrinter(indent=4)

In [57]:
# version 1
word_counts = {}  # empty dict
for word in doc_words:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1
pp.pprint(word_counts)

{   'Alma': 2,
    'Bride': 1,
    'Child': 1,
    'Crowned': 1,
    'Dear': 1,
    'Dowered': 1,
    'God': 1,
    'Light': 1,
    'Mater,': 2,
    'Over': 1,
    'Pittsburgh,': 1,
    'Thee': 1,
    'Thou': 1,
    'Truth,': 1,
    'and': 4,
    'as': 1,
    'conquer': 1,
    'daughter,': 1,
    'eternal': 1,
    'evermore!': 1,
    'fate': 1,
    'foe': 1,
    'glorious,': 1,
    'love': 1,
    'of': 4,
    'old': 1,
    'preserve': 1,
    'shalt': 1,
    'son': 1,
    'victorious,': 1,
    'wise': 1,
    'with': 2,
    'yore,': 1,
    'youth,': 1}

In [58]:
# version 2
word_counts = {}  # empty dict
for word in doc_words:
    try:
        word_counts[word] += 1
    except KeyError:
        word_counts[word] = 1
pp.pprint(word_counts)

{   'Alma': 2,
    'Bride': 1,
    'Child': 1,
    'Crowned': 1,
    'Dear': 1,
    'Dowered': 1,
    'God': 1,
    'Light': 1,
    'Mater,': 2,
    'Over': 1,
    'Pittsburgh,': 1,
    'Thee': 1,
    'Thou': 1,
    'Truth,': 1,
    'and': 4,
    'as': 1,
    'conquer': 1,
    'daughter,': 1,
    'eternal': 1,
    'evermore!': 1,
    'fate': 1,
    'foe': 1,
    'glorious,': 1,
    'love': 1,
    'of': 4,
    'old': 1,
    'preserve': 1,
    'shalt': 1,
    'son': 1,
    'victorious,': 1,
    'wise': 1,
    'with': 2,
    'yore,': 1,
    'youth,': 1}

In [59]:
# version 3
word_counts = {}  # empty dict
for word in doc_words:
    previous_count = word_counts.get(word, 0)
    word_counts[word] = previous_count + 1
pp.pprint(word_counts)

{   'Alma': 2,
    'Bride': 1,
    'Child': 1,
    'Crowned': 1,
    'Dear': 1,
    'Dowered': 1,
    'God': 1,
    'Light': 1,
    'Mater,': 2,
    'Over': 1,
    'Pittsburgh,': 1,
    'Thee': 1,
    'Thou': 1,
    'Truth,': 1,
    'and': 4,
    'as': 1,
    'conquer': 1,
    'daughter,': 1,
    'eternal': 1,
    'evermore!': 1,
    'fate': 1,
    'foe': 1,
    'glorious,': 1,
    'love': 1,
    'of': 4,
    'old': 1,
    'preserve': 1,
    'shalt': 1,
    'son': 1,
    'victorious,': 1,
    'wise': 1,
    'with': 2,
    'yore,': 1,
    'youth,': 1}

In [60]:
# version 4
from collections import defaultdict
word_counts = defaultdict(int)
for word in doc_words:
    word_counts[word] += 1
pp.pprint(word_counts)

defaultdict(<class 'int'>,
            {   'Alma': 2,
                'Bride': 1,
                'Child': 1,
                'Crowned': 1,
                'Dear': 1,
                'Dowered': 1,
                'God': 1,
                'Light': 1,
                'Mater,': 2,
                'Over': 1,
                'Pittsburgh,': 1,
                'Thee': 1,
                'Thou': 1,
                'Truth,': 1,
                'and': 4,
                'as': 1,
                'conquer': 1,
                'daughter,': 1,
                'eternal': 1,
                'evermore!': 1,
                'fate': 1,
                'foe': 1,
                'glorious,': 1,
                'love': 1,
                'of': 4,
                'old': 1,
                'preserve': 1,
                'shalt': 1,
                'son': 1,
                'victorious,': 1,
                'wise': 1,
                'with': 2,
                'yore,': 1,
                'youth,': 1})

In [61]:
# version 5
from collections import Counter
word_counts = Counter(doc_words)
pp.pprint(word_counts)

Counter({   'and': 4,
            'of': 4,
            'Alma': 2,
            'Mater,': 2,
            'with': 2,
            'wise': 1,
            'glorious,': 1,
            'Child': 1,
            'Light': 1,
            'Bride': 1,
            'Truth,': 1,
            'Over': 1,
            'fate': 1,
            'foe': 1,
            'victorious,': 1,
            'Dowered': 1,
            'eternal': 1,
            'youth,': 1,
            'Crowned': 1,
            'love': 1,
            'son': 1,
            'daughter,': 1,
            'Thou': 1,
            'shalt': 1,
            'conquer': 1,
            'as': 1,
            'yore,': 1,
            'Dear': 1,
            'old': 1,
            'Pittsburgh,': 1,
            'God': 1,
            'preserve': 1,
            'Thee': 1,
            'evermore!': 1})

## Functions

In [62]:
####################### FUNCTIONS ####################### 
def squared(x=5):
    '''returns the square of the input parameter, with a default value of 5 for said parameter
    NOTE: Default values are evaluated when function is defined, NOT when called'''
    return x*x

print (squared(12))
print (squared())

144
25

In [63]:
# using tuples to return multiple results
def sum_and_product(x, y):
    return (x+y), (x*y)
    
sp = sum_and_product(1, 10)
print (sp)
s, p = sum_and_product(1, 10)
print (s)
print (p)
print (s, p)

(11, 10)
11
10
11 10

In [64]:
# pass by value
# https://jeffknupp.com/blog/2012/11/13/is-python-callbyvalue-or-callbyreference-neither/
def try_to_modify(x, y, z):
    x = 23
    y.append(42)
    z = [992] # new reference
    print("x is", x)
    print("y is", y)
    print("z is", z)

In [65]:
a = 77    # immutable variable
b = [99]  # mutable variable
c = [28]  # mutable variable
print("BEFORE")
print("a is", a)
print("b is", b)
print("c is", c)

print("\nINSIDE")
try_to_modify(a, b, c)

print("\nAFTER")
print("a is", a)
print("b is", b)
print("c is", c)

BEFORE
a is 77
b is [99]
c is [28]

INSIDE
x is 23
y is [99, 42]
z is [992]

AFTER
a is 77
b is [99, 42]
c is [28]

In [66]:
### Global Variables ###
# SCOPE RULES: http://sebastianraschka.com/Articles/2014_python_scope_and_namespaces.html
x = 5
def addx(y):
    return x+y #look, but not touch
    
print (addx(10))

15

In [67]:
# SCOPE (cont)
x = 5
def setx(y):
    x = y # assignment
    print ('x is %d' % x)

setx(12)
print (x)

x is 12
5

In [68]:
# SCOPE (cont 2)
x = [5]
def setx(y):
    x[0] = y # modification
    print ('x is %d' % x[0])

setx(12)
print (x[0])

x is 12
12

In [69]:
# SCOPE (cont 3)
x = 5
def setx(y):
    global x
    x = y # assignment
    print ('x is %d' % x)

setx(12)
print (x)

x is 12
12